@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-1">Informacje</h1>
    <p>Jest to mój pierwszy wakacyjny projekt strony internetowej za pomocą ASP.NET</p>
    <h2>Lista zmian</h2>
    <p>30.06.2022 Dodanie strony o mnie</p>

</div>
