@{
    ViewData["Title"] = "Konwerter systemów liczbowych";
}

    <div id="signupInner">
    <p id="welcome">System dwójkowy</p>
    <form>
        <input type="text" name="subsemail"></p>
    </form>
    </div>
    <div id="signupInner">
    <p id="welcome">System ósemkowy</p>
    <form>
        <input type="text" name="subsemail">
    </form>
    </div>
        <div id="signupInner">
    <p id="welcome">System dziesiętny</p>
    <form>
        <input type="text" name="subsemail"></p>
    </form>
    </div>    
    <div id="signupInner">
    <p id="welcome">System szesnastkowy</p>
    <form>
        <input type="text" name="subsemail"></p>
    </form>

    </div>
    <input type="button" name="subsemail"></p>