@{
    ViewData["Title"] = "O mnie";
}

<div class="text-center">
    <h1 class="display-4">Cześć, nazywam się Jakub Mikołajczak</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
</div>
