@page
@model MyApp.Namespace.KonwerterModel
@{
    <h1> Konwerter</h1>
    <form> 
          <select name="systemy">
            <option value="">Wybierz system liczbowy</option>
            <option value="2">Binarny</option>
            <option value="8">Ósemkowy</option>
            <option value="10">Dziesiętny</option>
            <option value="16">Szesnastkowy</option>
          </select>

    </form>
}
