@page
@model MyApp.Namespace.KonwerterModel
@{
    <h1 class="border-bottom border-5"> Konwerter</h1>
    <div class="container">
  <div class="row justify-content-center p-3 ">
    <div class="col-auto ">
            <form method="post" > 
              <input type="text" asp-for="Liczby.Wartosc" placeholder="Wartość" class="border border-dark"/><br><br>
                  <select asp-for="Liczby.System" class="btn border border-dark dropdown-toggle">
                    <option class="dropdown-item" value="">Wybierz system liczbowy</option>
                    <option class="dropdown-item" value="2">Binarny</option>
                    <option class="dropdown-item" value="8">Ósemkowy</option>
                    <option class="dropdown-item" value="10">Dziesiętny</option>
                    <option class="dropdown-item" value="16">Szesnastkowy</option>
                  </select>
                  <br><br>
                  <button class="btn btn-outline-primary text-black border-dark" type="submit">Konwertuj</button>
            </form>
    </div>
    <div class="col-auto">
                  <H3>
              <span style="white-space: pre-line">
              @ViewData["konwersja"]
              </span>
            </H3>
    </div>
  </div>
  </div>

}
