html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.signupParent{
  background-color: #E3E6FF;
  display: table;
  width: 100%;
}

#signupInner{
  display: table-cell;

}

form,#welcome{
  display:inline-block
}
